<!DOCTYPE html>
<html>
<head>
  <title>Change Hostname</title>
</head>
<body>
  <h1>Current Hostname: <%= hostname %></h1>
  <form action="/updateHostname" method="post">
    <label for="newHostname">Enter New Hostname:</label>
    <input type="text" id="newHostname" name="hostname">
    <button type="submit">Set Hostname</button>
  </form>
</body>
</html>
