.header {
    width: auto;
    height: 50px;
    background-color: #A2B59F;
  }
html,
.body {
    width: auto;
    height: 100%;;
    background-color: #f5e2cd;
    padding: 10px;
}
  /* form-group裡面通常會有label、input、error msg */
  /* 讓每個form之間有間距 */
  .form-group {
    margin-bottom: 1rem;
  }
  .form-group label {
    display: block; /* 前後換行 */
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .form-group input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #686868;
    border-radius: 4px;
  }
  .button-group {
    margin-bottom: 1rem;
  }
  .button-group button {
    display: inline-block; /* 如果有空間，下一個元素會在同一行 */
    padding: 0.5rem 1rem;
    margin: 10px;
    font-size: 1rem;
    background-color: #734646;
    border: 2mm ridge rgba(211, 220, 50, .6);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;/* 滑鼠移到上面變成點擊手勢 */
  }
  .login {
    width: 600px;
    height: 450px;
    background-color: rgb(195, 155, 155);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
  }
  .card {
    width: 200px;
    height: 100px;
    background-color: #E2D2D2;
    display: flex; /* 設置為彈性容器 */
    justify-content: flex-start;/* 彈性對齊 */
    align-items: flex-start;
    flex-direction: column; /* 垂直排列 */
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
  }
  .wordcard {
    width: auto;
    height: 30px;
    background-color: #E2D2D2;
    display: flex; /* 設置為彈性容器 */
    justify-content: flex-start;/* 彈性對齊 */

    flex-direction: column; /* 垂直排列 */
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
  }
  
  .wordcardinfo {
    width: 800px;
    background-color: rgb(195, 155, 155);
    display: flex; /* 設置為彈性容器 */
    justify-content: flex-start;/* 彈性對齊 */
    align-items: flex-start;
    flex-direction: column; /* 垂直排列 */
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
  }
  .link {
    text-decoration: none;
  }
  .chapter {
    width: 10% 10%; /* container 的寬度減去兩倍的間距 */
    padding: 10px;
    height: 30px;
    background-color: #E2D2D2;
    display: flex; /* 設置為彈性容器 */
    justify-content: flex-start;/* 彈性對齊 */
    align-items: flex-start;
    flex-direction: row; /* 垂直排列 */
    margin: 10px;
    border-radius: 7px;
    
  }
  .container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(195, 155, 155);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
  }
  .vertical {
    flex-direction: column;
    align-items: stretch;
  }
  .horizontal {
      flex-direction: row;
      justify-content: flex-start;
  }
  
  .courseName {
    align-self: flex-start;
  }
  
  .number {
    align-self: flex-end;
  }
  
  .course {
    width: 100%;
    height: 400px;
    background-color: #9e7d7d;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  
  }
  .container_chap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(195, 155, 155);
    padding: 10px;
    margin: 10px;
  }
  .wordList {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  .user_info {
    display: inline-block;
  }
